{% extends 'base.html.twig' %}

{% block title %}Listes des articles!{% endblock %}

{% block body %}
    
<div class="container my-2">
    <h1 class="text-center bg-primary text-white p-2">Les articles en ligne</h1>
    <div class="row m-0">
        {% if  articles|length == 0 %}
            <h2>Il n'y a pas d'article en ligne</h2>
        {% endif %}
                {% for article in articles %}
            <div class="col-3 my-2">
                <div class="shadow">
                    <div class="card" style="width: auto;">
                        <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_thumb') }}" class="w-100">
                        <div class="card-body">
                        <h5 class="card-title">{{article.titre}}</h5>
                        <p class="card-text">{{article.contenu}}</p>
                        <a href="{{ path('detail_article', {'article': article.id}) }}" class="btn btn-primary">Consulter</a>
                        </div>
                    </div>
                </div>
            </div>        
        {% endfor %}
    </div>
</div>
{% endblock %}

